.bio-img {
  width: 90%;
}
.bio-text {
  display: flex;
  flex-direction: column;
}

.bio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.bio-text h1 {
  align-self: center;
}
