/* footer links */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer-main {
  height: auto;
  width: 92vw;
  border-radius: 0px 0px 10px 10px;
  background-color: #100f10;
}

.footer h1 {
  color: white;
}

/* .button {
  width: 20vw;
} */

.contact {
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* column-gap: 4px; */
  font-size: 2rem;
}

.insta-block {
  font-weight: 600;
  font-size: 2rem;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} /* footer links */

.contact a {
  color: #ffffff;
}

/* footer */

/* .contact {
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 4px;
  font-size: 2rem;
  width: 40%;
} */

/* .insta-block {
  font-weight: 600;
  font-size: 2rem;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.footer-img {
  width: 200px;
  height: 200px;
}

.inst-text {
  font-size: 30px;
}

.foot-icon {
  font-size: 3em;
  padding: 4px;
  color: #100f10;
  background-color: white;
  border-radius: 50%;
}
.foot-spon-link {
  color: white;
  font-size: 2em;
}

.footer-soc-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.foot-spon {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  padding-bottom: 100px;
  /* justify-content: center; */
}

.footer-soc-icon-wrapper {
  color: white;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  font-size: 0.7em;
}
