@import "video.css";
@import "navbar.css";
@import "header.css";
@import "about.css";
@import "pressrelease.css";
@import "spon.css";
@import "footer.css";
@import "bio.css";

/* Base styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Links */

a {
  color: #337ab8;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ffbf00;
}

/* desk top styles */
@media (min-width: 1200px) {
  .app {
    width: 100vw;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #f4e6dc;
  }

  .navbar {
    width: 92vw;
  }

  .bio-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 120px;
  }

  .logo {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }

  .logo-img {
    width: 18.2vw;
  }

  .bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 400px;
  }

  .inst-icon {
    padding-right: 10px;
    justify-content: right;
    align-items: center;
  }

  .icon {
    font-size: 3.8rem;
  }

  .photo-gallery {
    width: 92vw;
  }

  .about-section {
    padding: 20px 0px;
    width: 92vw;
  }

  .title-images {
    width: 50%;
    height: 100%;
  }

  .about-text {
    display: flex;
    font-size: 1em;
    font-weight: 400;
  }

  .award {
    font-size: 2em;
  }

  .bottom {
    width: 92vw;
    padding-bottom: 40px;
  }

  .sum {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  iframe {
    width: 40em;
    height: 20em;
  }

  .bottomLinks {
    width: 92vw;
  }

  .highlight-wrapper {
    align-items: baseline;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link {
    width: 100%;
    border-radius: 30px;
  }

  .link-text {
    width: 55%;
    font-size: 1rem;
  }

  .highlight a {
    font-size: 1rem;
  }

  .sponsors-wrapper {
    width: 92vw;
  }

  .sponsors-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sponsors-text li {
    font-size: 2rem;
  }
  .sponsors-text a {
    font-size: 1.5rem;
  }

  .sponsors-text p {
    font-size: 1.8rem;
  }

  .companies {
    width: 20vw;
  }

  .title {
    font-size: 2rem;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    /* grid-template-rows: 6fr 1fr; */
    align-items: flex-start;
    height: auto;
    width: 92vw;
  }

  .foot-spon {
    justify-content: center;
  }

  .foot-spon a {
    font-weight: 200;
  }

  .footer-contact {
    font-size: 1em;
  }

  .foot-spon-link {
    font-size: 1em;
  }

  .footer-soc-icon-wrapper {
    display: grid;
    grid-template-rows: 1fr 5fr;
    align-items: flex-end;
    justify-items: center;
    padding-top: 40px;
  }

  .copyright {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 0.9em;
    color: white;
    padding: 10px;
  }

  .insta-block {
    font-weight: 500;
  }

  /* .insta-pic-demo {
        width: 40%;
    } */

  .contact {
    font-size: 1rem;
    align-items: flex-start;
  }
  .contact a {
    font-weight: 200;
  }

  .inst-text {
    font-size: 15px;
  }

  /* .button {
        width: 6vw;
    } */
}

/*ipad  min width 468px */
/* @media (min-width: 460px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        width: 92vw;
    } 

} */
