/* NavBar */

.navbar {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;  
}



.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    width: 80vw;
    padding-left: 10px;
}

.inst-icon {
    display: flex;
    justify-content: right;
    padding: 2px;
}

.icon {
    color: #520102;
    font-size: 15vw;
}