/* Press Release */

.bottomLinks {
  background-color: #ffffff;
  box-shadow: 0px 18px 18px -12px rgba(0, 0, 0, 0.2) inset;
  width: 100vw;
}
.highlight-wrapper {
  padding-top: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.highlight a {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.link {
  width: 90vw;
  border-radius: 10px;
}

.link-text {
  font-weight: 300;
  font-size: 12px;
  width: 65vw;
  font-size: 2rem;
}
